/*  -*- CSS -*-  */
/*
 * authors:
 *  {project.authors}
 *
 * (c) {project.span} all rights reserved
 */

* {{
    margin: 0.0em;
    padding: 0.0em;
}}

html {{
    height: 100%;
    overflow: hidden;
}}

body {{

    font-family: "century gothic", "corbel", "geneva", "arial", "helvetica", sans-serif;
    font-size: 20px;

    /* sizes */
    margin: 0.25em auto;
    padding: 0.0em;
    height: 100%;
    width: 49.0em;

    /* styling */
    color: #666;
}}

a:link {{
    color: #666;
    text-decoration: none;
}}

a:visited {{
    color: #666;
    text-decoration: none;
}}

a:hover {{
    color: #666;
    text-decoration: none;
}}

a:active {{
    color: #666;
    text-decoration: none;
}}

div#{project.name} {{
    height: 100%;
}}

/* iOS settings */
input[type=text] {{
    -webkit-appearance: none;
}}

/* end of file */
