//- -*- Jade -*-
//- -*- coding: utf-8 -*-
//-
//- {project.authors}
//- {project.affiliations}
//- (c) {project.span} all rights reserved
//-

- load compress

html
  head
    {{% compress css %}}
    block css
    {{% endcompress %}}

    {{% compress js %}}
    block js
    {{% endcompress %}}

  body
    block content

//- end of file
