# -*- yaml -*-
# michael a.g. aïvázis <michael.aivazis@para-sim.com>
# (c) 1998-2021 all rights reserved

name: hello
on: push
jobs:
  signon:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04]
    steps:
      - name: issue
        run: cat /etc/issue

  install:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04]
        python: [python3.8, python3.9]
        cxx: [g++-9, g++-10, clang++-9, clang++-10, clang++-11, clang++-12]
        exclude:
          - os: ubuntu-18.04
            python: python3.9
          - os: ubuntu-18.04
            cxx: clang++-10
          - os: ubuntu-18.04
            cxx: clang++-11
          - os: ubuntu-18.04
            cxx: clang++-12
          - os: ubuntu-20.04
            cxx: clang++-9
    steps:
      - name: install packages
        run: >
          apt-fast install -y
          libopenmpi-dev libgsl-dev
          ${{ matrix.python }} ${{ matrix.python }}-dev
          python3-pybind11 python3-numpy python3-yaml
      - name: c++ version
        run: |
          which ${{ matrix.cxx }}
          ${{ matrix.cxx }} --version
      - name: python version
        run: |
          which ${{ matrix.python }}
          ${{ matrix.python }} --version

# end of file
